<%- include('partials/header') %>
<html lang="en">
  <head>
    <title>Movie Gallery</title>
    <link rel="stylesheet" type="text/css" href="./styles.css" />
  </head>
  <body>
    <main class="main-content">
      <h1>Movie Gallery</h1>
      <div class="movies-grid">
        <% movies.forEach(movie => { %>

        <div class="movie-card">
          <h3><a href="/movie/<%= movie.id %>"><%= movie.title %></a></h3>
          <p>Release Year: <%= movie.releaseYear %></p>
          <p>Rating: <%= movie.rating %> / 10</p>
        </div>
        <% }); %>
      </div>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
