<%- include('partials/header') %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upcoming Movies</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
  <body>
    <main class="main-content">
      <h1>Upcoming Movies</h1>
      <div class="movies-grid">
        <% movies.forEach(movie => { %>
        <div class="movie-card">
          <h3><a href="/movie/<%= movie.id %>"><%= movie.title %></a></h3>
          <p>Release Year: <%= movie.releaseYear %></p>
          <p>Genre: <%= movie.genre %></p>
          <p>Description: <%= movie.description %></p>
        </div>
        <% }); %>
      </div>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
